{{extend 'layout.html'}}
<div id="page-title">
<h2>Change User Status</h2>
</div>
<div class="panel">
<div class="panel-body">
        <div class="col-md-10 col-sm-12 col-md-offset-1">
            <table id="change_status" class="table table-striped" cell-padding="0" width="100%">
                <thead>
                    <tr>
                        <th>User ID</th>
                        <th>User Name</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                {{for user in users:}}
                    <tr>
                        <td>{{=user.user_id}}</td>
                        {{name=db(db.User_Info.uuid==user.uuid).select(db.User_Info.user_name).first()}}
                        <td>{{=name.user_name}}</td>
                        {{state=db(db.User_Info.uuid==user.uuid).select(db.User_Info.status).first()}}
                        <td>{{=state.status}}</td>
                        <td>
                            {{if state.status=='inactive':}}
                            <a class="btn btn-primary btn-sm" href="{{=URL('default','make_active',args=user.uuid)}}">Activate</a>
                            {{else:}}
                            <a class="btn btn-primary btn-sm" href="{{=URL('default','make_inactive',args=user.uuid)}}">Deactivate</a>
                            {{pass}}
                        </td>
                    </tr>
                {{pass}}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
    var table = $('#change_status').DataTable( {
        paging:         true,
        lengthMenu: [ 10, 25, 50, 75, 100 ],
        dom: 'lfBrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
    $('.dataTables_filter input').attr("placeholder", "Search...");
} );
</script>
