{{extend 'layout.html'}}
{{if units:}}
    {{for unit in units:}}
        <div class="modal fade {{=db.Units(db.Units.unit_id==unit.unit_id).unit_id}}" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Do you want to delete {{=db.Units(db.Units.unit_id==unit.unit_id).unit_name}}?</h4>
                </div>
                {{=form.custom.begin}}
                <div class="modal-body">
                    <p>
                        Type <strong>YES</strong> to delete this unit
                    </p>
                    <form>
                            <div class="form-group">
                                    {{form.custom.widget.action["_placeholder"] = "YES or NO"}}
                                    {{form.custom.widget.action["_required"] = "required"}}
                                    {{=form.custom.widget.action}}
                            </div>
                            <div class="form-group">
                                {{var = db.Units(db.Units.unit_id==unit.unit_id).unit_id}}
                                {{form.custom.widget.unit_id["_value"] = var}}
                                {{form.custom.widget.unit_id["_type"] = "hidden"}}
                                {{=form.custom.widget.unit_id}}
                            </div>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" type="button" class="btn btn-warning">Cancel</button>
                    <button type="submit" class="btn btn-success">Confirm</button>
                    {{=form.custom.end}}
                </div>
            </div>
          </div>
        </div>
    {{pass}}

    <div id='page-title'>
        <h2>
            Delete Unit
        </h2>
    </div>

    <div class='panel'>
        <div class='panel-body'>
            <ul class="list-group">
                {{for unit in units:}}
                <li class="list-group-item"><a data-toggle="modal" data-target=".{{=db.Units(db.Units.unit_id==unit.unit_id).unit_id}}">{{=db.Units(db.Units.unit_id==unit.unit_id).unit_name}}</a></li>
                {{pass}}
            </ul>
        </div>
    </div>
{{else:}}
    <div id='page-title'>
        <h2>
            No Unit Found
        </h2>
    </div>
{{pass}}
