{{extend 'layout.html'}}

<div class='panel'>
    <div class='panel-body'>
        <h2>     
            Delete User
        </h2>
        <div class="col-sm-12">
            <table class="table table-stipped">
                <thead>
                    <tr>
                        <th>User ID</th>
                        <th>User Name</th>
                        <th>Unit Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{for user in users:}}
                    {{unit_user=db(db.Unit_Users.uuid==user.uuid).select()}}
                    {{for unit in unit_user:}}
                    {{unit_type=db.Units(db.Units.unit_id==unit.unit_id).dev_type}}
                    {{if unit_type=="rfid":}}
                    <tr>
                        <td>{{=user.user_id}}</td>
                        {{name = db(db.User_Info.uuid==user.uuid).select(db.User_Info.user_name).first()}}
                        <td>{{=name.user_name}}</td>
                        <td>{{=db.Units(db.Units.unit_id==unit.unit_id).unit_name}}</td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="{{=URL('default','deleted_users', args=[unit.unit_id,user.uuid])}}">Delete</a>
                        </td>
                    </tr>
                    {{pass}}
                    {{pass}}
                    {{pass}}
                </tbody>
            </table>
        </div>
    </div>
</div>
