{{extend 'layout.html'}}
{{import calendar}}
{{from datetime import datetime, timedelta}}
{{client_id="%(client_id)s" % auth.user}}
<link rel='stylesheet' type='text/css' href="{{=URL('static','css/fullcalendar.min.css')}}"/>
<script type="text/javascript" src="{{=URL('static','js/moment.js')}}"></script>
<script type="text/javascript" src="{{=URL('static','js/fullcalendar.min.js')}}"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<style>
	.ui-autocomplete {
		max-height: 100px;
		overflow-y: auto;
		/* prevent horizontal scrollbar */
		overflow-x: hidden;
	}
	/* IE 6 doesn't support max-height
	 * we use height instead, but this forces the menu to always be this tall
	 */
	* html .ui-autocomplete {
		height: 100px;
	}
	</style>
<div class="panel">
<div class="panel-body">
        <div class="col-md-12 col-sm-12">
            <form action="" method="post">
                <table class="table table-bordered">
                    <tr>
                        <td>User ID</td>
                        <td>Month</td>
                        <td>Year</td>
                        <td>Action</td>
                    </tr>
                    <tr>
                        <td>
                            {{users = db(db.Client_User.client_id==client_id).select(db.Client_User.user_id,db.Client_User.uuid)}}
                            <select name="user_id" class="selectpicker" data-live-search="true">
                                {{for user in users:}}
                                    {{name=db(db.User_Info.uuid==user.uuid).select(db.User_Info.user_name).first()}}
                                    <option value="{{=user.user_id}}">
                                        id: {{=user.user_id}}  Name:{{=name.user_name}}
                                    </option>
                                {{pass}}
                            </select>
                            </td>
                        <td>
                        <select id="month" name="month" class="selectpicker">
                            {{i=1}}
                            {{while i < 13:}}
                                <option value="{{=i}}">{{=calendar.month_name[i]}}</option>
                                {{i += 1}}
                            {{pass}}
                        </select>
                        </td>
                        <td>
                            {{o = 2016}}
                            {{n = datetime.now().year}}
                            <select id="year" name="year" class="selectpicker">
                                {{for i in range(o, n+1):}}
                                <option value="{{=i}}">{{=i}}</option>
                                {{pass}}
                            </select>
                        </td>
                <td>
                <input class="btn btn-primary btn-sm" type="submit" name="submit" value="submit">
                </td>
                </tr>
            </table>
            </form>
        </div>
    </div>
</div>
{{if days:}}
<div class="panel">
<div class="panel-body">
    {{uuid=db((db.Client_User.client_id==client_id)&(db.Client_User.user_id==user_id)).select(db.Client_User.uuid).first()}}
    {{name=db(db.User_Info.uuid==uuid.uuid).select(db.User_Info.user_name).first()}}
    <h3 class="text-center"><strong>ID:</strong> {{=user_id}} <strong>Name:</strong> {{=name.user_name}}</h3>
<div id='calendar'></div>
    </div>
    </div>

<script>
	$(document).ready(function() {
		$('#calendar').fullCalendar({
            header: {
				left: 'title',
				right: 'month,listMonth'
			},
			events: [
                {{for d in days[1]:}}
				{
					title: 'absent',
					start: '{{=d}}',
                    overlap: false,
                    rendering: 'background',
                    color: 'red'
				},
                {
					title: 'absent',
					start: '{{=d}}',
                    textColor: '#fff',
                    backgroundColor: 'red'
				},
                {{pass}}
                {
                    title: 'vacation',
                    start: '2000-10-25'
                }
			],
            eventBorderColor: 'transparent',
            defaultDate: moment('{{=days[1][0]}}'),
		});
	});
</script>
{{pass}}
