{{extend 'layout.html'}}

<div id="page-title">
    {{unit = db(db.Units.unit_id==unit_id).select(db.Units.unit_name).first()}}
    {{if unit:}}
        <h2>{{=unit.unit_name}}'s Access Logs [Today]</h2>
    {{else:}}
        <h2>
            Please, give a name to the device
        </h2>
    {{pass}}
</div>
<div class="panel">
    <div class="panel-body">
        <table id="index" class="table table-striped" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>User ID</th>
                <th>User Name</th>
                <th>Access Date</th>
                <th>Access Time</th>
            </tr>
            </thead>
            <tbody>
            {{
            from datetime import datetime 
            import pytz
            dt = datetime.now(pytz.timezone('Asia/Dhaka')).date()
            logs = db((db.Users_Log.unit_id==unit_id) & (db.Users_Log.access_date==dt)).select(limitby=(0,1500))
            }}
            {{if logs:}}
                {{#=logs}}
                {{for lg in logs:}}
                    {{uuid=db((db.Unit_Users.unit_id==unit_id) & (db.Unit_Users.user_id==lg.user_id)).select(db.Unit_Users.uuid).first()}}
                    {{if uuid and db.User_Info(db.User_Info.uuid==uuid.uuid).status=="active":}}
                        {{uname=db((db.User_Info.uuid==uuid.uuid) & (db.User_Info.user_id == lg.user_id)).select(db.User_Info.user_name)}}
                        {{for name in uname:}}
                        <tr>
                        <td>{{=lg.user_id}}</td>
                        <td>{{=name.user_name}}</td>
                        <td>{{=lg.access_date}}</td>
                        <td>{{=lg.access_time}}</td>
                        </tr>
                        {{pass}}
                    {{pass}}
                {{pass}}
            {{pass}}
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
    $('#index').DataTable( {
        paging:         true,
        lengthMenu: [ 10, 25, 50, 75, 100 ],
        dom: 'lfBrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ],
    });
    } );
</script>
