{{extend 'layout.html'}}
<div id='page-title'>
    <h2>
        Update Unit
    </h2>
</div>

<div class='panel'>
    <div class='panel-body'>
            {{if units:}}
            <ul class="list-group">
            {{for unit in units:}}
                {{id=db(db.Units.unit_id==unit.unit_id).select(db.Units.id).first()}}
                <li class="list-group-item"><a href="{{=URL('default','update_unit',args=id.id)}}">{{=db.Units(db.Units.unit_id==unit.unit_id).unit_name}}</a></li>
            {{pass}}
            </ul>
        {{pass}}
    </div>
</div>
