{{extend 'layout.html'}}
<script>
    $(document).ready( function() {
        $('#auto').load("{{=URL('default', 'pendingStatus')}}");
        refresh();
    });

    function refresh()
    {
        /*
        setTimeout( function () {
            $('#auto').fadeOut('slow').load("{{=URL('default', 'pendingStatus')}}").fadeIn('slow');
            refresh();
        }, 3000);
        */
    }
</script>

<style>
select{border:1px solid #FFF;height: 34px;width: 200px; padding: 6px 12px;line-height: 1.42857143; background: #FFF;}
.selectwrap{position: relative;float: left; background: #FFF;}
</style>

<div id="page-title">
    <h2>User Management</h2>
</div>
<div class="panel">
    <div class="panel-body">
        <div class='row'>
        <div class='col-md-12'>
       <form onSubmit="if(!confirm('Please wait, we are working. Your change will take some time to execute!')){return false;}" method="post" action="{{=URL('default', 'change_access')}}">
           <div class="text-center">
               <button type="submit" class="btn btn-primary btn-md" name="submit">Save</button>
               <div id="stat">
                   <h4 id="auto" style="color:red;"></h4>
               </div>
               </div>
        <table id="usermanagement" class="table table-striped" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                {{for cu in ClientUnits:}}
                <th>{{=db.Units(db.Units.unit_id==cu.unit_id).unit_name}}</th>
                {{pass}}
            </tr>
            </thead>
            <tbody>
            {{for user in client_user:}}
            {{if db.User_Info(db.User_Info.uuid==user.uuid).status =='active':}}
            <tr>
                <td>{{=user.user_id}}</td>
                <td>
                    {{id=db.User_Info((db.User_Info.user_id==user.user_id) & (db.User_Info.uuid==user.uuid)).id}}
                    {{name=db.User_Info((db.User_Info.user_id==user.user_id) & (db.User_Info.uuid==user.uuid)).user_name}}
                    <a href="{{=URL('default', 'updateUser', args=id)}}">{{=name}}</a>
                </td>
                {{for cu in ClientUnits:}}
                <input type="hidden" name="user_name" value="{{=name}}" />
                <input type="hidden" name="user_id" value="{{=user.user_id}}" />
                <input type="hidden" name="unit_id" value="{{=cu.unit_id}}" />
                <input type="hidden" name="uuid" value="{{=user.uuid}}" />
                {{access=db((db.Unit_Users.unit_id==cu.unit_id) & (db.Unit_Users.user_id==user.user_id)).select()}}
                <td>
                    <div class="selectwrap">
                	{{if access:}}
                        {{for a in access:}}
                            <select name="access">
                                <option value="{{=a.access_type}}">{{=a.access_type}}</option>
                               {{if a.access_type=='Regular Access':}}
                                <option value="Admin">Admin</option>
                                <option value="No Access">No Access</option>
                               {{elif a.access_type=='Admin':}}
                                  <option value="Regular Access">Regular Access</option>
                                  <option value="No Access">No Access</option>
                               {{pass}}
                            </select>
                        {{pass}}
                    {{else:}}
                      <select name="access">
                        <option value="No Access">No Access</option>
                        <option value="Regular Access">Regular Access</option>
                        <option value="Admin">Admin</option>
                      </select>
                    {{pass}}
                    </div>
                </td>
                {{pass}}
            </tr>
            {{pass}}
            {{pass}}
            </tbody>
        </table>
        </form>
        </div>
    </div>
</div>
</div>
<script>
    $('.selectpicker').selectpicker({
      style: 'transparent',
      size: 4
    });
</script>
<script type="text/javascript">
$(document).ready(function() {
    var table = $('#usermanagement').DataTable( {
        scrollX:        true,
        scrollCollapse: true,
        paging:         true,
        lengthMenu: [ 10, 25, 50, 75, 100 ],
        dom: 'lfBrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ],
        fixedColumns: {
        leftColumns: 2
    }
    } );
    $('.dataTables_filter input').attr("placeholder", "Search...");
} );
</script>
